@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/pt-sans-italic.woff2") format("woff2");
}


@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-narrow-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "PT Sans", sans-serif;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
}

.button-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-apply {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
  color: #ffffff;
  padding: 14px 15px;
  margin-bottom: 20px;
}

.button-reset {
  background-color: transparent;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
}

.button-second {
  background-color: #82B3D3;
  color: #ffffff;
  text-decoration: none;
  border: 0;
  padding: 12px 15px;
}

.button-favorites {
  background-color: #7DB54F;
  color: #ffffff;
  text-decoration: none;
}

.button-suggestions {
  border: 0;
  padding: 12px 15px;
}

.hotel-card-button {
  margin: 0;
  padding: 8px 15px;
  margin-bottom: 16px;
}

.button-rating {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: #F2F2F2;
  color: #333333;
  padding: 9px 22px;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 139px;
  margin-right: 47px;
  margin-left: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 17px;
  padding-right: 62px;
  width: 490px;
}

.navigation-item-list {
  display: block;
  margin: 0;
  padding: 0;
}

.navigation-link-list {
  display: block;
  margin: 0;
  margin-right: 34px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 350px;
  margin-right: 70px;
}

.navigation-link-user {
  display: block;
  padding: 24px 12px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  width: 42px;
  height: 66px;
  background-color: #7DB54F;
}

.button-navigation {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.main-index-background {
  color: #000000;
  background-color: #82B3D3;
  background-image: url("../images/sedona-canyon-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-image {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.city-description {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.reasons-to-visit {
  margin-top: 31px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.advantages {
  font-family: "PT Sans", sans-serif;
  line-height: 28px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
  list-style-type: none;
}

.image-house {
  margin-bottom: 30px;
}

.image-burger {
  margin-bottom: 30px;
}

.image-present {
  margin-bottom: 30px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.advantages-numbering {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.advantages-description {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.advantages-all {
  margin: 0;
  padding-top: 63px;
  padding-bottom: 90px;
  padding-left: 273px;
  padding-right: 273px;
  text-align: center;
}

.advantages-list-guide {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  width: 230px;
  margin: 0;
}

.advantages-item-guide {
  width: 230px;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 85px;
  padding-right: 85px;
}

.flex-block {
  display: flex;
  width: 1200px;
}

.flex-index-columns {
  display: flex;
  flex-direction: column;
  padding-top: 92px;
  padding-bottom: 92px;
  padding-left: 85px;
  padding-right: 85px;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.main-image-flex {
  display: block;
  width: 800px;
}

.index-columns-housing {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.index-columns-souvenirs {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.index-columns-food {
  color: #000000;
  background-color: #FFFFFF;
}

.flex-guide {
  display: flex;
}

.index-columns-square {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.index-columns-road {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.index-columns-tourists {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.flex-advantages {
  display: flex;
}

.advantages-item-three {
  padding-top: 102px;
  padding-bottom: 102px;
  padding-left: 85px;
  padding-right: 85px;
}

.suggestions {
  margin: 0;
  padding-top: 91px;
  padding-bottom: 93px;
  padding-left: 304px;
  padding-right: 304px;
  width: 592px;
  text-align: center;
}

.interested {

  margin-bottom: 29px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.interested-suggestions {
  margin-bottom: 56px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 250px;
  margin-right: 150px;
  margin-left: 70px;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contacts-phone {
  margin-right: 150px;
}

.footer-contacts-address-phone {
  width: 331px;
}

.footer-contacts-htmlacademy-link {
  margin-left: auto;
}

.subscribe {
  display: block;
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/canyon-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  text-align: center;
}

.page-footer-title {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 29px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-footer-paragraph {
  margin: 0;
  padding-bottom: 46px;
  padding-right: 362px;
  padding-left: 363px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.newsletter-form {
  padding-bottom: 94px;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}

.main-inner {
  margin: 0;
  padding: 0;
}

.background-catalog-hotels {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/canyon-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
  padding-top: 35px;
  padding-left: 70px;
  padding-right: 70px;
}

.inner-header-title {
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 10px;
}

.breadcrumbs {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  margin-right: 25px;
}

.catalog-hotels {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 70px;
  padding-right: 70px;
}

.catalog-filter-flex {
  display: flex;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.control-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 15px;
}

.sorting {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 56px;
}

.search {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-left: 72px;
  margin-right: 191px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  margin-right: 78px;
}

.button-light {
  width: 40px;
  height: 40px;
  background-color: #7DB54F;
  margin-right: 40px;
}

.hotel-list {
  font-family: "PT Sans", sans-serif;
  width: 1200px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  margin-bottom: 96px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.hotel-card-flex {
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.hotel-card-flex-flex {
  display: flex;
  flex-direction: column;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-image {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.hotel-card-hotel {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.rating-stars {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.hotel-card-rating {
  font-family: "PT Sans", sans-serif;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.pagination-container {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 25px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 270px;
  margin-left: 73px;
}

.pagination-item {
  font-family: "PT Sans", sans-serif;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  text-decoration: none;
}

.sorting-pagination {
  margin-right: 51px;
}
