@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("fonts/pt-sans-italic.woff2") format("woff2");
  }

  
  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-narrow-bold.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #FFFFFF;
  }

  .page-container {
    margin: 0 auto;
    width: 960px;
  }

  .button {
    font-family: "PT Sans", sans-serif;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
  }

  .button-second {
    background-color: #82B3D3;
    color: #ffffff;
    text-decoration: none;
  }

  .button-third {
    background-color: none;
  }

  .button-favorites {
    background-color: #7DB54F;
    color: #ffffff;
    text-decoration: none;
  }

  .page-header {
    color: #000000;
    background-color: #FFFFFF;
  }

  .navigation-link {
    font-family: "PT Sans", sans-serif; 
    font size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none; 
  }

  .main-container {
    flex-grow: 1;
  }

  .main-index-background {
    color: #000000;
    background-color: #82B3D3;
    background-image: url("../images/sedona-canyon-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .city-description {
    font-family: "PT Sans", sans-serif;
    font style: Bold;
    font size: 30px;
    line height: 36px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .reasons-to-visit {
    font-family: "PT Sans", sans-serif;
    font style: Regular;
    font size: 22px;
    line height: 26px;
    font-weight: 400;
  }

  .advantages {
    font-family: "PT Sans", sans-serif;
    line-height: 28px;
  }

  .advantages-list {
    text-align: center;
    font-size: 20px;
  }
  
  .advantages-title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .index-columns {
    color: ffffff;
    background-color: #82B3D3;
  }

  .index-columns-list {
    color: #000000;
    background-color: rgba(131, 179, 211, 0.12);
  }

  .index-columns-food {
    color: #000000;
    background-color: #FFFFFF;
  }

  .index-columns-road {
    color: #000000;
    background-color: rgba(131, 179, 211, 0.2);
  }

  .interested {
    font-family: "PT Sans", sans-serif;
    font style: Bold;
    font size: 30px;
    line height: 36px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .interested-suggestions {
    font style: Regular;
    font size: 22px;
    line height: 26px;
    font-weight: 400;
  }

  .subscribe {
    font-family: "PT Sans", sans-serif;
    color: #FFFFFF;
    background-color: #82B3D3;
    background-image: url("../images/canyon-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .page-footer-title {
    font style: Bold;
    font size: 30px;
    line height: 36px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .page-footer-paragraph {
    font style: Regular;
    font size: 22px;
    line height: 26px;
    font-weight: 400;
  }
  
 .footer-contacts-address-phone {
    font style: Regular;
    font size: 40px;
    line height: 40px;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
 }

 .background-catalog-hotels {
    color: #FFFFFF;
    background-color: #82B3D3;
    background-image: url("../images/canyon-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
 }

 .inner-header-title {
    font-family: "PT Sans", sans-serif;
    font style: Bold;
    font size: 60px;
    line height: 78px;
    font-weight: 700;
    color: #FFFFFF;
 }

 .breadcrumbs {
    font-family: "PT Sans", sans-serif;
    color: #FFFFFF;
 }

 .breadcrumbs-link {
    line-height: 21px;
    color: inherit;
    text-decoration: none;
 }

 .catalog-hotels {
    font-family: "PT Sans", sans-serif;
    color: #FFFFFF;
 }

 .catalog-filter-title {
    font style: Bold;
    font size: 20px;
    line height: 26px;
    font-weight: 700;
    color: #FFFFFF;
 }

 .control-input {
    font-family: "PT Sans", sans-serif;
    font style: Regular;
    font size: 18px;
    line height: 21px;
    font-weight: 400;
    color: #FFFFFF;
 }

 .select-control {
    font family: "PT Sans", sans-serif;
    font style: Regular;
    font size: 18px;
    line height: 21px;
    font-weight: 400;
    color: #000000;
 }

 .hotel-list {
    font-family: "PT Sans", sans-serif;
 }

 .hotel-card-title {
    font style: Bold;
    font size: 24px;
    line height: 28px;
    font-weight: 700;
    color: #000000;
 }

 .hotel-card-link {
    text-decoration: none;
 }

 .hotel-card-hotel {
    font style: Regular;
    font size: 18px;
    line height: 21px;
    font-weight: 400;
    color: #333333;
 }

 .hotel-card-price {
    font style: Regular;
    font size: 18px;
    line height: 21px;
    font-weight: 400;
    color: #333333;
 }

.hotel-card-rating {
    font family: "PT Sans", sans-serif;
    font style: Regular;
    line height: 20px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
}

.pagination-item {
    font family: "PT Sans", sans-serif;
}

.pagination-link {
    font style: Bold;
    font size: 20px;
    line height: 36px;
    font-weight: 700;
    color: #FFFFFF;
}

.sorting {
    font family: "PT Sans", sans-serif;
    font style: Regular;
    font size: 18px;
    line height: 21px;
    font-weight: 400;
    color: #333333;
}

.select-control {
    font family: "PT Sans", sans-serif;
    font style: Regular;
    font size: 18px;
    line height: 21px;
    font-weight: 400;
    color: #333333;
}



 




  